<style>

body {
		background-image:url("/assets/book1.jpg");
		background-repeat: no-repeat;	
		background-size: cover;}

.back { border: 2px solid #6b727c;
		/*background-image:url("/assets/rep4.jpg");*/
		background-color: rgba(217, 139, 80, .4);
		margin:20px 150px 20px 150px; 
		padding-top:10px;
		-webkit-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
		-moz-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
		box-shadow: 0 0 6px rgba(30, 30, 30, .75);
		/*and give the corners a small curve*/
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;}

h2 {font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
    color:#ffffff; 
    margin-left:5px;}

.btn {
	font-size: 18px;
	padding:2px 30px;
    text-decoration: none;
	color: #ff3333;}

.btn2 {
	font-size: 18px;
	padding:2px 30px;
    text-decoration: none;
	color: #3333ff;}

.btn3 a{
	font-size: 15px;
    text-decoration: none;
	color: #0000ff;}

.btn4 a{
	font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
    font-size: 15px;
    text-align: center;
    text-decoration: none;
	color: #495a62;}

.btn4 {
	padding: 1px 30px;
    background-color:#77e933;}

.logout {
	font-size: 18px;
	padding-left:150px;
    text-decoration: none;
	color: #ffffff;}
.categ {
	text-align: center;
	font-size: 18px;
    text-decoration: none;
	color: #000000;
	}


.top {
	border: 2px solid #6b727c;
	-webkit-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	-moz-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	/*and give the corners a small curve*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	padding-left: 215px;
    background-color:#3C0847;}

.top2 {
	border: 2px solid #fff;
	-webkit-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	-moz-box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	box-shadow: 0 0 6px rgba(30, 30, 30, .75);
	/*and give the corners a small curve*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	padding: 0px 0px 15px 160px;
    background-color:#290E0C;}


nav ul{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px 15px;
	border-radius: 15px; 
	position: relative;
	list-style-type:none;  
	display: inline-table;}

nav ul:after {
	content: ""; clear: both; display: block;}

nav ul li{
	float: left;}

nav ul li a {
		display: block;
		padding: 10px 20px;
		color: #757575;
		text-decoration: none;}

nav ul ul{
	background: #5f6975; 
	border-radius: 0px; 
	padding: 0;
	top:100%;
	position: absolute;
	display: none;}

nav ul ul li{
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;}

nav ul ul li a {
		display: block;
		padding: 10px 20px;
		color: #757575; 
		text-decoration: none;}

nav ul li:hover{
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
			nav ul li:hover > ul{
				display: block;
			}
				nav ul ul li a:hover {
				background: #4b545f;
				}
	

	


a:hover{
		color: #0000ff;}

ul.enlarge{
list-style-type:none; /*remove the bullet point*/}

ul.enlarge li{
position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
margin:10px 40px 0 0px; /*space between the images*/}

ul.enlarge span.hov{
   display:none;
   z-index: 50; 
   position: absolute; /*see support section for more info on positioning*/
   	/*moves the span off the page, effectively hidding it from view*/
}

ul.enlarge img{
/*give the thumbnails a frame*/

background-color:#eae9d4; /*frame colour*/
padding: 5px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
	
}

ul.enlarge .trax{
/*give the thumbnails a frame*/
width: 400px;
background-color:rgba(236,230,200,.7); /*frame colour*/
padding: 10px 20px 10px 10px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
	
}

ul.enlarge span.hov img{

padding: 2px; /*size of the frame*/
background: #ccc; /*colour of the frame*/
}

ul.enlarge span.hov{
/**Style the frame**/
padding: 20px; /*size of the frame*/
background:#eae9d4; /*colour of the frame*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
/*give the corners a curve*/
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius:8px;
/**Style the caption**/
font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
font-size:.9em;
text-align: center;
color: #495a62;
}

ul.enlarge li:hover{

z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlarge li:hover span.hov{ /*positions the <span> when the <li> (which contains the thumbnail) is overed*/ 
display: inline-block;
top: -130px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: 100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

.text{
	
	font-family: 'Droid Sans', sans-serif;
	color: #00000;
	

}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

</style>



<div class="top">
	<table>
	<tr>
	<td>
	<% if @user.admin %>
	<h2> Welcome Admin</h2>
	<%else%>
	<h2 > <%=@user.name.capitalize%>'s Account</h2>
	<%end%>
	</td>
	<td style="padding:40px 0px 0px 250px;">
	 <%= form_tag(search_path, method: "get") do %>
	 <%= label_tag(:q, "Search for:",:style => "color:#ffffff;") %>
	 <%= text_field_tag(:q) %>
 	 <%= submit_tag("Search") %>
	<% end %>
	</td>
	<td>
	<a class="logout" href= '<%=logout_path%>'>Logout</a>
	</td>
	</tr>
	</table>

	<%a="btn"%>
	<%b="btn"%>
	<%c="btn"%>

	<%if !@data.blank?%>
		<%if @data.first.category_id == 1 %>
		<%a="btn2"%>
		<%elsif @data.first.category_id == 2%>
		<%b="btn2"%>
		<%elsif @data.first.category_id == 3%>
		<%c="btn2"%>
		<%else%>
		<%end%> 
	<%end%>





    

  
    
</div>
<div class="top2">	
	<br/>

    
    <%#= button_tag class: a do %>
	<%#= link_to 'Fiction', category_path(:fiction) %>
	<%#end%>
    <%#= button_tag class: b do %>
	<%#= link_to 'Triller', category_path(:thriller) %>
	<%#end%>
    <%#= button_tag class: c do %>
	<%#= link_to 'Romance', category_path(:romance) %>
	<%#end%>
<div style="padding-left:700px">
<nav>
	<ul>
	<li><a class="categ" href="#">Category</a>
		<ul>
			<% Category.all.each do |c| %>
			<li><a href= '<%=category_path(c.name)%>'><%= c.name %></a></li>
			<% end%>
		</ul>
	</li>
	<li><a class="categ" href="#">Latest</a></li>
	<li><a class="categ" href="#">Popular</a></li>
	</ul>
</nav>
</div>

	<%if @user.admin%>
    <b style="padding-left:100px;">
    <%= button_tag class: "btn3" do %>
	<%= link_to 'Back', admin_path%>
	<%end%>
	</b>

	<%end%>
</div>
    
<% if !@data.blank? %>
<div class="back">   

	   
	    <ul class="enlarge">
	    <% @data.each do |data| %>
	        <%if data.title && !data.title.blank?%>
				
				<div class="trax">
				<table>
				<tr><td>
				    <li>
				    <span class="hov"> 
                    	<img src="<%="#{data.image_link}"%>" width="220" height="300px" alt="<%="#{data.image_link}"%>" />
                    	<br/>
                    	<i><%= data.title.capitalize %></i>
                	</span>
					<span>
					<img src="<%="#{data.image_link}"%>" width="100px" height="130px" alt="<%="#{data.image_link}"%>" />					
					</span>
					</li>
				</td><td class="text">

				   
                	<i>Title: <%= data.title.capitalize%></i><br/>
                	<i>Author: <%= data.author.capitalize%></i><br/>
                	<i>Price: Rs <%=data.price%> only</i><br/>
                	    <br/>
                		<%= button_tag class: "btn4" do %>
						<%= link_to 'buy', proceedtopay_path(:data) %>
					    <%end%>
						

				</td></tr>
                </table>
                </div>



					
				
               
                
			<%end%>
			<br/>
		<%end%>
		</ul>
		
		<div class="digg_pagination">
       
   		<%= will_paginate @data, :container => false %>
        </div>

</div>	
<%end%>

