 	

<style>
body {
		background-image:url("/assets/book1.jpg");
		background-size: cover;}

.signup-btn a{
		text-decoration: none;
		color: #000;}
.err{
	color: red;
	font-size: 14px;
	margin-top: 10px;}

nav {
 	background-color: rgba(200, 200, 180, .7); 
	padding: 10px 20px 10px 10px; /*frame size*/
	/*add a drop shadow to the frame*/
	/*-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	box-shadow: 0 0 6px rgba(132, 132, 132, .75);
	/*and give the corners a small curve*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	position: absolute;
	list-style-type:none;  
	display: inline-table;
    top: 100px;
    left: 450px;}

</style>

<nav>
<h1> Welcome to my library </h1>
<%= form_for(@user , url: check_path) do |f| %>
   <% if @user.errors.any? %>
		<div id="error_explanation" >
			<h2><%= pluralize(@user.errors.count, "error" ) %>
			prohibited this product from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
    <% end %> 


<table>
<tr>
<td><b><%= f.label :"Email" %></b></td>
<td><%= f.text_field :email %></td>
</tr>
<tr>
<td><b><%= f.label :"Password" %></b></td>
<td><%= f.password_field :password %></td>
</tr>
<tr>
<td><%= f.submit :value => "Sign in" %></td>
<td><%= button_tag class: 'signup-btn' do %>
	<%= link_to 'Sign up', signup_path %>
	<%end%></td>
</tr>
<tr><td></td><td><i><p class="err"><%= notice %></p></i></td></tr>
</table>



<% end %>
</nav>





   
